<div>
    <div header2></div>
    <div class="container" style="text-align: center;width: 30%;margin-top:120px;">
        <h3 style="font-weight:bolder;">Forgot Password</h3>
        <br>
        <form>
            <div class="form-group">
                <label for="inputEmail" style="color: black">Email address</label>
                <input type="email" class="form-control" ng-model="user.email" id="inputEmail">
            </div>
            <button class="btn btn-primary" style="background-color: black;width: 160px;" ng-click="forgetpasswordLink()" >Send Reset Link</button>
        </form>
    </div>

    <div class="alert alert-info" style="margin-left:30%;width:40%;margin-top: 30px;text-align: center" data-ng-show="showmessage" id="alertMessage">{{resetmessage}}</div>

</div>
<div footeridea></div>


<script>
    $("#passwordfield").on("keyup",function(){
        if($(this).val())
            $(".showpass").show();
        else
            $(".showpass").hide();
    });
    $(".showpass").mousedown(function(){
        $("#newPassword").attr('type','text');
    }).mouseup(function(){
        $("#newPassword").attr('type','password');
    }).mouseout(function(){
        $("#newPassword").attr('type','password');
    });


    $(".showpassconfirm").mousedown(function(){
        $("#confirmpassword").attr('type','text');
    }).mouseup(function(){
        $("#confirmpassword").attr('type','password');
    }).mouseout(function(){
        $("#confirmpassword").attr('type','password');
    });



</script>