<footer class="footer" >
    <div class="footer-styles">
        <div class="col-md-2" style="margin-top: 7px;">
            <p style="font-size: 10px"><a href="http://edgesociety.org/hack/#about-edge-hack">About Us</a></p>
            <p style="font-size: 10px"><a href="mailto:hack@edgesociety.org">Become a partner</a></p>

        </div>
        <div class="col-md-1" style="margin-top: 7px;">
            <p style="font-size: 10px"><a href="http://edgesociety.org/hack/faq">FAQ</a></p>
            <p style="font-size: 10px"><a href="http://edgesociety.org/hack/blog">Blog</a></p>
        </div>
        <div class="col-md-2" style="margin-top: 7px;">
            <p style="font-size: 10px"><a href="http://ideadeck.io/#!/problemstatement">Contribute Problem Statements</a></p>
            <p style="font-size: 10px"><a href="mailto:hack@edgesociety.org">Apply as a funder</a></p>
        </div>
        <div class="col-md-4" style="margin-top: 5px;">
            <span style="margin-top: 30px;">Core Partners</span>
            <img class="imgSizeWidth"  src="../resources/ace.png">
            <img class="imgSizeWidth"  src="../resources/spring.png">
            <img class="imgSizeWidth"  src="../resources/sginnovate.png">
        </div>
        <div class="col-md-3" style="margin-top: 5px;">
            <span style="margin-top: 30px;">Powered by</span>
            <img class="imgSizeWidth"  src="../resources/technotch-new-logo-dark.png">
            <img class="imgSizeWidth"  src="../resources/startupdisruptive.png">

        </div>
    </div>
</footer>
