<div>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse navbar-fixed-top">
        <div style="margin:0 3%" class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/" style="color: white">EDGE HACK</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div ng-if="loggedUser == null">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="buttonLike" href="#!/login"> Login </a></li>
                        <li><a class="buttonLike" href="#!/signup"> Sign Up</a></li>
                    </ul>
                </div>
                <div ng-if="loggedUser != null">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a style="color: white;"> Welcome {{loggedUser}}</a></li>
                        <li><a class="buttonLike" href="#!/idea">Submit Idea</a></li>
                        <li><a class="buttonLike" href="#!/profile">Profile</a></li>
                        <li><a class="buttonLike" href="" ng-click = "userLogout()">Logout</a></li>
                    </ul>
                </div>
            </div>

            <!--<div class="pull-right" id="navbarSupportedContent" style="margin-top:15px;margin-right: 15px;">
                <div ng-if="loggedUser == null">
                    <a class="buttonLike" href="#!/login"> Login </a>
                    <a class="buttonLike" href="#!/signup"> Sign Up</a>
                </div>
                <div ng-if="loggedUser != null">
                    <a style="color: white;"> Welcome {{loggedUser}}</a>
                    <a class="buttonLike" href="#!/idea">Submit Idea</a>
                    <a class="buttonLike" href="#!/profile">Profile</a>
                    <a class="buttonLike" href="" ng-click = "userLogout()">Logout</a>
                </div>
            </div>-->
        </div>
    </nav>
</div>

