<div header></div>

<div class="topMargin">

    <div class="container" style="background-color: white;">

        <div>
            <p style="font-weight: bolder;font-size:40px;text-align: center;margin-top: 4%;"> EDGE HACK</p>
            <p style="font-weight: bolder;font-size:20px;text-align: center;margin-bottom: 3%">National Ideathon Challenge for PMETs and Youths</p>
        </div>
        <br>
        <div style="text-align: center;">
            <div class="col-md-4"  style="margin-bottom: 20px;" >
                <a href="" ng-click="getSubCatList('Social Care')">
                <div class="col-md-12 card" style="background-image: url('../resources/categoryImages/Social Care/Social Care-800.jpg');">
                    <div class="darkOverlay">
                        <p class="cardText">Social Care</p>
                    </div>
                </div>                </a>

            </div>
            <div class="col-md-4" style="margin-bottom: 20px;">
                <a href="" ng-click="getSubCatList('General Tech')">
                <div class="col-md-12 card" style="background-image: url('../resources/categoryImages/General Tech/generaltech-800.jpg');">
                    <div class="darkOverlay">
                    <p class="cardText">General</p>
                    </div>
                </div>
                </a>

            </div>
            <div class="col-md-4" style="margin-bottom: 20px;">
                <a href="" ng-click="getSubCatList('Deep Tech')">
                <div class="col-md-12 card" style="background-image: url('../resources/categoryImages/noImage.jpg');">
                    <div class="darkOverlay">
                    <p class="cardText">Deep Tech</p>
                    </div>
                </div>
                </a>

            </div>
        </div>

    </div>

</div>
<div footeridea></div>

<style type="text/css">


    .topMargin {
        margin-top: 75px;
    }

     .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: 220px;
        background-size: cover;background-position: center;
         padding: 0px;

    }


    .cardText{
        font-size: 20px;
        font-weight: bolder;
        color: white;
        position: relative;
        top: 43%;
    }

</style>