<div header></div>
<div class="container" style="height: 100%;margin-top: 65px;margin-bottom: 60px">
    <h2 style="text-align: center;font-weight: bolder">Category - {{mainCategory}} : Sub-category - {{mainSubCategory}}</h2>
    <div>
        <div class="row">
                <div class="input-group" id="custom-search-input">
                        <input ng-model="searchText" type="text" class="form-control" placeholder="Search problem statement"/>
                        <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
        </div>
    </div>

    <a ng-click="go_back_subcat()">Back</a>
    <br>

    <div ng-repeat="problem in problemlist | filter:searchText" class="col-md-3" style="margin: 10px 0;height: 150px">
        <a href="" ng-click="problemDetails(problem)">
            <div class="col-md-12 problemBlock" style="">
                <div class="darkOverlay">
             <p id="problemBlockText"> {{problem.title}}</p>
                </div>
            </div>
        </a>
    </div>
</div>
<div footeridea></div>

<style type="text/css">

    a:hover {
        text-decoration: none;
        cursor: pointer;
        color: black;
    }

    .problemBlock{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        word-wrap: break-word;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: grey;
        padding: 0px;
    }

    #problemBlockText{
        font-size: 20px;
        font-weight: bolder;
        color: white;
        text-align: center;
        position: relative;
        top: 43%;
    }

    /*search bar*/
    #custom-search-input{
        padding: 3px;
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        background-color: #fff;
        margin-bottom:15px;
    }

    #custom-search-input input{
        border: 0;
        box-shadow: none;
    }

    #custom-search-input button{
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

    #custom-search-input button:hover{
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
    }

    #custom-search-input .glyphicon-search{
        font-size: 23px;
    }

</style>