<div class="wrapper">
    <div header></div>
    <div  style="width: 70%;margin:0px auto;padding-top: 100px">
        <div style="display: table;">
            <span><a style="vertical-align: middle;display: table-cell;" href="#/"><i class="fa fa-chevron-left" style="font-size:24px;color: black;"></i></a></span>
            <span style="vertical-align: middle;display: table-cell;padding-bottom: 9px;padding-left: 12px;">Back to Home Page</span>
        </div>


        <br><br>
        <div style="text-align: center;">
        <p style="font-weight: bolder;font-size: 24px;"> You have successfully submitted your idea</p>
            <br><br>
        <p style="font-size: 19px;"> We have received your idea submission</p>
            <p style="font-size: 19px;"> Please check your email for confirmation</p>
            <p style="font-size: 19px;"> Proceed to send us your pitch deck</p>
            <p style="font-size: 19px;"> Online pitching slot will be arranged for you</p>
        </div>


    </div>
    <div footeridea></div>
</div>