<div header></div>
<div class="container"style="margin-top: 70px;margin-bottom: 70px">

    <div style="margin-bottom: 30px">
        <h2 style="font-weight: bolder">Profile</h2>
        <hr/>
        <div class="col-xs-3">
            <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left">
                <li class="active"><a data-target="#profile" data-toggle="tab">Home</a></li>
                <li><a data-target="#submission" data-toggle="tab">Submissions</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <h2 style="font-weight: bolder;margin-top: 0px">Account Details</h2>
                    <br>
                    <p> <span style="font-weight: bolder">First Name:</span> {{profileUser.firstname}}</p>
                    <p> <span style="font-weight: bolder">Last Name:</span> {{profileUser.lastname}}</p>
                    <p> <span style="font-weight: bolder">Email:</span> {{profileUser.email}}</p>
                    <p> <span style="font-weight: bolder">Organisation:</span> {{profileUser.organisation}}</p>
                    <p> <span style="font-weight: bolder">Team Name:</span> {{profileUser.teamname}}</p>
                </div>
                <div class="tab-pane" id="submission">
                    <h2 style="font-weight: bolder;margin-top: 0px">Idea Submissions</h2>
                    <br>
                    <div ng-repeat="idea in profileIdeas">

                    </div>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
                        <div class="panel panel-default" ng-repeat="idea in profileIdeas track by $index" style="word-wrap: break-word;">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#{{idea.id}}-{{$index}}" aria-expanded="true" aria-controls="collapseOne">
                                        {{idea.title}}
                                    </a>
                                </h4>
                            </div>
                            <div id="{{idea.id}}-{{$index}}" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <div>
                                        <p style="font-weight: bolder">A One-Liner Pitch, What is your idea?</p>
                                        <p>{{idea.summary}} </p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bolder">What is the problem that your idea solves?</p>
                                        <p>{{idea.keyproblem}} </p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bolder">Who are your customers?</p>
                                        <p>{{idea.customers}} </p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bolder">Why is your idea better than what is available in the Market?</p>
                                        <p>{{idea.betteridea}} </p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bolder">Why are you passionate about this idea?</p>
                                        <p>{{idea.passionate}} </p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bolder">Why is your Team best suited to do this?</p>
                                        <p>{{idea.aboutteam}} </p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bolder">Catgory:</p>
                                        <p>{{idea.category}} </p>
                                    </div>
                                    <div>
                                        <p style="font-weight: bolder">Sub-Category:</p>
                                        <p>{{idea.subcategory}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

</div>
<div footeridea></div>

<style type="text/css">

    .nav-pills .nav-link.active {
        background-color: #292b2c!important;
    }

    a{
        color: black;
    }




    /*tab css*/
    /*!
 * bootstrap-vertical-tabs - v1.1.0
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2014-06-06
 * Copyright (c) 2014 Ä°smail Demirbilek
 * License: MIT
 */
    .tabs-left, .tabs-right {
        border-bottom: none;
        padding-top: 2px;
    }
    .tabs-left {
        border-right: 1px solid #ddd;
    }
    .tabs-right {
        border-left: 1px solid #ddd;
    }
    .tabs-left>li, .tabs-right>li {
        float: none;
        margin-bottom: 2px;
    }
    .tabs-left>li {
        margin-right: -1px;
    }
    .tabs-right>li {
        margin-left: -1px;
    }
    .tabs-left>li.active>a,
    .tabs-left>li.active>a:hover,
    .tabs-left>li.active>a:focus {
        border-bottom-color: #ddd;
        border-right-color: transparent;
    }

    .tabs-right>li.active>a,
    .tabs-right>li.active>a:hover,
    .tabs-right>li.active>a:focus {
        border-bottom: 1px solid #ddd;
        border-left-color: transparent;
    }
    .tabs-left>li>a {
        border-radius: 4px 0 0 4px;
        margin-right: 0;
        display:block;
    }
    .tabs-right>li>a {
        border-radius: 0 4px 4px 0;
        margin-right: 0;
    }
    .vertical-text {
        margin-top:50px;
        border: none;
        position: relative;
    }
    .vertical-text>li {
        height: 20px;
        width: 120px;
        margin-bottom: 100px;
    }
    .vertical-text>li>a {
        border-bottom: 1px solid #ddd;
        border-right-color: transparent;
        text-align: center;
        border-radius: 4px 4px 0px 0px;
    }
    .vertical-text>li.active>a,
    .vertical-text>li.active>a:hover,
    .vertical-text>li.active>a:focus {
        border-bottom-color: transparent;
        border-right-color: #ddd;
        border-left-color: #ddd;
    }
    .vertical-text.tabs-left {
        left: -50px;
    }
    .vertical-text.tabs-right {
        right: -50px;
    }
    .vertical-text.tabs-right>li {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .vertical-text.tabs-left>li {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

</style>